*{
  box-sizing: border-box;
  font-family: "Arial" , sans-serif;
}

body{
  padding: 0;
  margin: 0;
  background: #212121;
}
.openWindowModal {
  width: 80px;
  height: 40px;
  color: #a6a6a6;
  font-size: 16px;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 15px;
  background: none;
}

form {
  width: 30%;
  height: 600px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:white;
  z-index: 1;
  border: 1px solid #939393;
  border-radius: 25px;
  box-shadow: 0 3px 8px 4px rgba(135, 127, 127, 0.2);
  > div {
    padding: 20px 0 0 20px;
    > h1 {
      color: #797979;
    }
    > h3 {
      font-weight: 200;
      color: #000000;
    }
    > input {
      background: none;
      border: 1px solid #c5c5c5;
      outline: none;
      width: 80%;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 7px;
      box-shadow: inset 2px 5px 8px rgb(200, 200, 200);
      color: #575757;
    }
    > textarea {
      background: none;
      border: 1px solid #c5c5c5;
      outline: none;
      width: 80%;
      height: 100px;
      padding: 10px 20px;
      overflow: scroll;
      font-size: 16px;
      border-radius: 10px;
      box-shadow: inset 2px 5px 8px rgb(200, 200, 200);
      color: #575757;
    }
    > div > button {
      width: 80px;
      height: 40px;
      color: #1800ff;
      font-size: 16px;
      margin-top: 50px;
      text-decoration: none;
      border-radius: 15px;
      background: none;
      border: 1.5px solid #c5c5c5;
    }
  }
}

header{
  width: 100%;
  height: 95px;
  > div {
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    > .input {
      width: 70%;
      margin: auto;
      > input {
        margin: 30px;
        background: none;
        border: none;
        outline: none;
        width: 90%;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 9999px;
        box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
        color: #fff;
      }
    }
    > span {
      color: #cfcfcf;
      margin-top: 10px;
    }
  }
}


.line {
  border: none;
  height: 1.5px;
  background-color: #454545
}

main {
  width: 100%;
  margin: auto;
}
section {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px auto;
}

.card {
  width: 300px;
  margin: 20px 10px 0 10px ;
  background: white;
  padding: .6em;
  border-radius: 15px;
  box-shadow: inset 2px 5px 10px rgb(149, 149, 149);
}

.card-image {
  height: 200px;
  > img {
    width: 200px;
  }
}

.category {
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 10px 7px 0;
}

.block {
  font-weight: 600;
  color: rgb(88, 87, 87);
  padding: 7px;
  > button {
    width: 65px;
    height: 25px;
    font-size: 14px;
    background: #ffffff;
    color: rgb(63, 121, 230);
    border: 1px solid gray;
    font-weight: 400;
    border-radius: 15px;
    cursor: pointer;
    margin: 30px 0 0 0; ;
  }
  > button:hover {
    font-size: 16px;
    width: 68px;
  }
}

.author {
  color: gray;
  font-weight: 400;
  font-size: 15px;
  padding-top: 20px;
  > h2 {
    height: 45px;
  }
}

.error{
  margin: 200px auto;
  color: gray;
  font-size: small;
}

.modal_active{
  width: 70%;
  height: 600px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:white;
  z-index: 1;
  border: 1px solid #c5bdbd;
  border-radius: 25px;
  box-shadow: 0 3px 8px 4px rgba(135, 127, 127, 0.2);
}


.head{
  width: 97%;
  display: flex;
  padding: 20px 0 0 20px;
  justify-content: space-between;
    > button {
      width: 60px;
      height: 30px;
      font-size: 18px;
      background: #ffffff;
      color: rgb(63, 121, 230);
      border: 1px solid gray;
      font-weight: 400;
      border-radius: 15px;
      cursor: pointer;
    }
    > button:hover {
        font-size: 20px;
        width: 62px;
    }
}

.modal_block{
  color: #535353;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-evenly;
  >img{
    width: 450px;
  }
  >div>.desc{
    width:450px;
    font-size: large;
    text-space: 2px;
  }
  >div>button{
    text-decoration: none;
    width: 130px;
    height: 55px;
    font-size: 25px;
    background: linear-gradient(135deg, #535353 0%, #2c4ebc 100%);
    color: #ffffff;
    border: none;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
    margin: 100px 0 0 0; ;
  }
}



@media (max-width: 1536px) and (min-width: 1280px){
  section {
    width: 82%;
  }

  .card {
    width: 320px;
  }

  .modal_active{
    height: 500px;
  }

  .modal_block{
    >img{
      width: 400px;
    }
    > div > h1 {
      font-size: 27px;
    }
    >div>button{
      width: 120px;
      height: 45px;
      font-size: 20px;
    }
  }

}



@media (max-width: 1280px) and (min-width: 1024px){
  section {
    width: 80%;
  }

  .card {
    width: 30%;
  }
  .card-image {
    height: 180px;
    > img {
      width: 180px;
    }
  }

  .block {
    > button {
      width: 62px;
      height: 22px;
      font-size: 12px;
    }
  }

  .author {
    font-size: 13px;
    > h2 {
      height: 40px;
    }
  }
  .modal_active{
    height: 600px;
  }

  .modal_block {
    width: 500px;
    margin: auto;
    > img {
      width: 250px;
    }

    > div > h1 {
      font-size: 30px;
    }

    > div > h2 {
      font-size: 18px;
    }

    > div > .desc {
      width: 400px;
      font-size: medium;

    }

    > div > button {
      width: 90px;
      height: 35px;
      font-size: 15px;
      margin: 35px 0 0 0;
    }
  }

}



@media (max-width: 1024px) and (min-width: 768px) {
  header {
    > div {
      > .input {
        width: 60%;

        > input {
          margin: 30px;
          width: 80%;
          padding: 8px 18px;
          font-size: 14px;
        }
      }

      > span > h1 {
        margin-top: 22px;
        font-size: 25px;
      }
    }
  }

  section {
    width: 78%;
  }
  .card {
    width: 45%;
  }
  .card-image {
    height: 200px;
    > img {
      width: 200px;
    }
  }

  .block {
    > button {
      width: 64px;
      height: 25px;
      font-size: 14px;
    }
  }

  .author {
    font-size: 15px;
    > h2 {
      height: 40px;
    }
  }

  .modal_block {
    width: 500px;
    margin: auto;

    > img {
      width: 250px;
    }

    > div > h1 {
      font-size: 30px;
    }

    > div > h2 {
      font-size: 18px;
    }

    > div > .desc {
      width: 400px;
      font-size: medium;

    }

    > div > button {
      width: 90px;
      height: 35px;
      font-size: 15px;
      margin: 35px 0 0 0;
    }
  }

}


@media (max-width: 768px) and (min-width: 480px) {
  header {
    > div {
      width: 85%;
      height: 80px;
      > .input {
        width: 50%;

        > input {
          width: 95%;
          padding: 8px 18px;
          font-size: 14px;
        }
      }
      > span > h1 {
        margin-top: 22px;
        font-size: 22px;
      }
    }
  }

  section {
    width: 70%;
    justify-content: center;
  }
  .card {
    width: 80%;
  }
  .card-image {
    width: 230px;
    height: 230px;
    margin: auto;
    > img {
      width: 230px;
    }
  }

  .modal_block {
    margin: auto;

    > img {
      width: 230px;
    }

    > div {
      width: 320px;
      > h1 {
        font-size: 27px;
      }
      > h2 {
        font-size: 18px;
      }
      > .desc {
        width: 320px;
        font-size: medium;

      }
    }

    > div > button {
      width: 90px;
      height: 35px;
      font-size: 15px;
      margin: 35px 0 0 0;
    }
  }

}
