*{
  box-sizing: border-box;
  font-family: "Arial" , sans-serif;
}
body{
  padding: 0;
  margin: 0;
}
.header{
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  width: 90%;
  height: 73px;
  border: 1px solid #c5bdbd;
  border-radius: 25px;
  margin: 20px auto ;
  box-shadow: 0 1px 6px #00000033;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  text-align: center;
  >img{
    margin-left: 5px;
  }
  >h1{
    padding-left: 15px;

  }
}

.search{
  width: 60%;
  margin: 30px auto;
  input{
    width: 100%;
    padding: 15px 20px;
    font-size: 1rem;
    border: 1px solid #c5bdbd;
    border-radius: 25px;
    box-shadow: 0 4px 6px #00000019;
  }
  input:focus {
    outline: none;
    box-shadow: 0 4px 12px #00000033;
  }
}
.cards{
  width: 90%;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card{
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #c5bdbd;
  margin-top: 25px;
  padding: 10px 5px 10px 5px;
  border-radius: 25px;
  box-shadow: 0 1px 6px #00000033;
  cursor: pointer;
  >img{
    width: 190px;
  }
  >div{
    margin-left: 10px;
  }
}

.error{
  color: gray;
  font-size: small;
}

